<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Seite 1</title>
</head>

<body>
    <h1>
        <%= ueberschrift %>
    </h1>
    <img src="/images/bild1.jpg" alt="Bild 1" style="max-width:400px;">
    <p><a href="/seite2">Zur Seite 2</a></p>
</body>

</html>