<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Seite 2</title>
    <link rel="stylesheet" href="/style.css">

</head>



<body>
    <div class="panel">
        <h1>
            <%= ueberschrift %>
        </h1>
        <img src="/images/bild2.jpg" alt="Bild 2">
        <p><a href="/">Zur Seite 1</a></p>
    </div>
</body>

</html>