<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Seite 2</title>
</head>
<body>
    <h1>Bild auf Seite 2</h1>
    <img src="/images/bild2.jpg" alt="Bild 2" style="max-width:400px;">
    <p><a href="/">Zurück zu Seite 1</a></p>
</body>
</html>
